In [9]:
import pandas as pd
dfr = pd.read_csv('../data/2015_pop_and_area.csv')
# df = dfr[['state_name', 'geo_id', 'county_name', 'area_sqmi',
#        'log_aland_sqmi', 'pop_est_2015', 'log_pop_est_2015', 'pop_den_2015',
#        'log_pop_den_2015', 'tot_pop_ch_2015', 'pop_ch_10000_2015', 'lat',
#        'long']]
df = df.drop['Unnamed: 0', axis=1]
df.head()

,state_name,geo_id,county_name,area_sqmi,log_aland_sqmi,pop_est_2015,log_pop_est_2015,pop_den_2015,log_pop_den_2015,tot_pop_ch_2015,pop_ch_10000_2015,lat,long
0,Alabama,1001,"Autauga County, AL",594.439,6.387618,55347,10.921378,93.107956,4.533760,57,10.298661,32.532237,-86.646440
1,Alabama,1003,"Baldwin County, AL",1589.808,7.371369,203709,12.224448,128.134341,4.853079,3996,196.162173,30.659218,-87.746067
2,Alabama,1005,"Barbour County, AL",884.877,6.785449,26489,10.184485,29.935234,3.399036,-326,-123.069954,31.870253,-85.405104
3,Alabama,1007,"Bibb County, AL",622.583,6.433877,22583,10.024953,36.273075,3.591076,34,15.055573,33.015893,-87.127148
4,Alabama,1009,"Blount County, AL",644.807,6.468951,57673,10.962544,89.442267,4.493593,15,2.600870,33.977358,-86.566440

In [2]:
df.describe()

,Unnamed: 0,geo_id,area_sqmi,log_aland_sqmi,pop_est_2015,log_pop_est_2015,pop_den_2015,log_pop_den_2015,tot_pop_ch_2015,pop_ch_10000_2015,lat,long
count,3142.000000,3142.000000,3142.000000,3142.000000,3.142000e+03,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000
mean,1570.500000,30383.649268,1124.147226,6.490669,1.022975e+05,10.271524,270.187648,3.780855,799.305856,12.256570,38.455338,-92.177403
std,907.161599,15162.508374,3612.528212,0.906852,3.292097e+05,1.484490,1813.598397,1.778070,3947.176682,127.374774,5.309455,13.741661
min,0.000000,1001.000000,2.051000,0.718327,8.900000e+01,4.488636,0.038029,-3.269396,-10488.000000,-669.056153,19.597764,-164.188912
25%,785.250000,18177.500000,430.830500,6.065715,1.098600e+04,9.304377,16.902931,2.827486,-88.000000,-52.346015,34.693649,-98.222532
50%,1570.500000,29176.000000,616.006000,6.423257,2.569850e+04,10.154188,44.759655,3.801307,3.000000,2.426814,38.379918,-90.379763
75%,2355.750000,45080.500000,924.004250,6.828717,6.752750e+04,11.120290,116.476776,4.757691,238.000000,71.799768,41.818396,-83.426948
max,3141.000000,56045.000000,145492.713000,11.887881,1.017029e+07,16.134981,72586.423023,11.192533,90451.000000,2232.142857,69.449343,178.338813